footer {
    background-color: #34495e !important;
    margin-bottom: 0px;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 300px !important;
}
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: underline; }

a:active { text-decoration: none; }

hr{
    display: none;
}

@media (max-width: 768px) {
    hr{
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;

    }
    span{
        
        font-size: x-small;
    }
    
}
@media (max-width: 1200px) {
   footer{
    margin-top: 45px;

   }
    
}
@media (max-width: 768px) {
    footer{
     margin-top: 50px;
 
    }
     
}

#fotterSection{
    margin-top: 10px;
    margin-bottom: -62px;
}
